<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Word Count DG UD</title>
</head>
<body>

This is the Homepage Template
<p>
{{ brand }}
<p>

<form action="{%  url 'count'  %}">
	<textarea cols="80" rows="15" name="fulltext"></textarea>
	<br/> 
	<input type="submit" value="Count Words!">
</form>

</body>
</html>